node_modules
dist
dist-ssr
*.local
.vite
.DS_Store
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Capacitor generated native projects (run `npx cap add ios` / `npx cap add android` to regenerate)
ios
android
